$defaultFont: "Lexis";
$topmenuFont: "LexisRegular";
$titleFont: "Rubik";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: $defaultFont;
  src: url("/fonts/LexisAltDemo-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: $topmenuFont;
  src: url("/fonts/LexisDemo-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*nulled*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: $defaultFont;
  height: 100%;
  line-height: 1;
  font-size: 20px;
  color: #000;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  display: flex;
  max-width: 1216px;
  /*min-width: 971px;*/
  padding: 0px 15px;
  width: 100%;
  margin: 0 auto;
  box-sizing: content-box;
  align-items: stretch;
}

.header {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  border: 0;
  z-index: 50;
  min-height: 112px;
  align-items: center;
}

.header__conteiner {
  display: flex;
  align-items: center;
}
.logo {
  min-width: 151px;
  min-height: 38px;
}

.header__topmenu {
  display: flex;
  width: 100%;
  margin: 0px 100px 0px 50px;
}

.header__langSelector {
  align-items: flex-end;
}

.langSelector {
  width: 70px;
  position: relative;
  font-family: $topmenuFont;
}

.langSelector__list {
  margin: 0px;
  text-transform: uppercase;
  position: absolute;
  top: 40px;
  border-radius: 6px;
  height: 120px;
  width: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  /*border: 1px solid;*/
  display: none;
  z-index: 105;
}

.langSelector__item {
  line-height: 50px;
  padding: 0px 0px 0px 5px;
  cursor: pointer;
  position: relative;
  top: 7px;
  /*border: 1px solid;*/
}

.langSelector__item:hover {
  background-color: rgba(136, 136, 136, 0.157);
}

.langSelector__link {
  width: 80px;
}

.langSelector__picker {
  display: flex;
  padding: 0px 0px 0px 5px;
  height: 100%;
  width: 70px;
  text-transform: uppercase;
  /*border: 1px solid;*/
  align-items: center;
  align-content: stretch;
  font-family: $topmenuFont;
  color: #999;
  cursor: pointer;
}

.langSelector__picker:after {
  content: "";
  border-right: 2px solid #5b6171;
  border-bottom: 2px solid #5b6171;
  padding: 2px;
  background-color: #fff;
  margin: 0px 0px 0px 5px;
  transform: rotate(45deg);
}

.langSelector__picker:hover {
  color: #4d36c4;
}

.langSelector__picker:after:hover {
  color: #4d36c4;
}

.langSelector__picker:hover + .langSelector__list {
  display: block;
}

.langSelector__list:hover {
  display: block;
}

@media (max-width: 969px) {
  .header__topmenu {
    margin: 5px 0px 0px 5px;
    position: relative;
  }
  .langSelector__picker {
    position: absolute;
    top: 5px;
    left: 25px;
  }
}

@media (max-width: 767px) {
  .header__topmenu {
    margin: 5px 0px 0px 30px;
  }
}

@media (max-width: 469px) {
  .header__topmenu {
    margin: 5px 0px 0px 15px;
  }
}

.topmenu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.topmenu__item:not(:last-child) {
  margin: 0px 40px 0px 0px;
  /*border: 1px solid;*/
}

.topmenu__link {
  color: rgba(3, 13, 37, 0.65);
  font-family: $topmenuFont;
  line-height: calc(38 / 20 * 100%);
}

/*.topmenu__link:not(:last-child) {
  margin: 0px 0px 0px 50px;
}*/

.topmenu__link:hover {
  color: #4d36c4;
}
