._hide {
  display: none;
}

.page__test-m {
  font-size: 30px;
  color: red;
  position: absolute;
  top: 80px;
}

.page__test-d {
  font-size: 30px;
  color: green;
  position: absolute;
  top: 80px;
}
.secjopa_mobile {
  position: relative;
  top: 100px;
  padding: 20px;
  color: red;
}
.secjopa_desktop svg:hover path {
  fill: #00ff00;
}
.secjopa_desktop svg path {
  fill: #0000ff;
}
.secjopa_desktop {
  position: relative;
  top: 100px;
  padding: 20px;
  color: green;
  text-align: justify;
  line-height: 2rem;
}

.purple {
  filter: invert(21%) sepia(97%) saturate(2543%) hue-rotate(244deg) brightness(80%) contrast(113%);
}
.grey {
  filter: invert(75%) sepia(42%) saturate(27%) hue-rotate(55deg) brightness(102%) contrast(82%);
}

/*.secjopa_desktop svg polygon, svg path, svg circle {
        fill: #d6d9e0;
}*/