._hide {
  display: none;
}

.page__test-m {
  font-size: 30px;
  color: red;
  position: absolute;
  top: 80px;
}

.page__test-d {
  font-size: 30px;
  color: green;
  position: absolute;
  top: 80px;
}
.secjopa_mobile {
  position: relative;
  top: 100px;
  padding: 20px;
  color: red;
}
.secjopa_desktop {
  position: relative;
  top: 100px;
  padding: 20px;
  color: green;
}